

// Global
// @font-face {
// font-family: 'TT Commons Regular';
// font-style: normal;
// font-weight: normal;
// src: local('TT Commons Regular'), url('TT Commons Regular.woff') format('woff');
// }

@font-face {
font-family: 'TT Commons DemiBold';
font-style: normal;
font-weight: normal;
src: local('TT Commons DemiBold'), url('fonts/ttcommons_demiBold.woff') format('woff');
}


@font-face {
font-family: 'TT Commons Medium';
font-style: normal;
font-weight: normal;
src: local('TT Commons Medium'), url('fonts/ttcommons_medium.woff') format('woff');
}

// Color
$orange: #F48F20;
$black: #000000;

// Mixin

@mixin absolute-center {display: flex; justify-content: center; align-items: center;}
@mixin font-normal {font-family: 'Manrope', sans-serif; font-weight: 400;}
@mixin font-bold {font-family: 'Manrope', sans-serif; font-weight: 600;}
@mixin font-title {font-family: 'TT Commons DemiBold'; font-style: normal; font-weight: normal;}
@mixin font-title-medium {font-family: 'TT Commons Medium'; font-style: normal; font-weight: normal;}

// Grid

.grid-padding-x > .cell {
    padding-right: 15px;
    padding-left: 15px;
}

// ------- Typography

body {@include font-normal; color: $black;}
p, li {@include font-normal; color: $black; font-size: 18px;}

p {margin-bottom: 20px;}

h1, h2, h3, h4, h5, h6 {@include font-title; color: $black;}

h1, h2.title {font-size: 50px; line-height: normal;}
h2 {font-size: 30px; line-height: normal;}

h3 {@include font-title-medium; font-size: 38px; line-height: 58px;}
strong {@include font-bold;}

a {@include font-bold; border-bottom: 1px solid rgba(0,0,0,0.2); color: $black; transition: all 0.3s ease;
  &:hover {transition: all 0.3s ease; border-color: $orange; color: $orange;}
}

header a, footer a {border: none;}

.button {border-radius: 4px; background: #ffffff; border: 2px solid #fdebd7; @include font-title-medium; font-size: 18px; color: $orange; padding: 10px 22px;
  &:hover {background: $orange; border-color: $orange;}
}

// Header

.top-bar {height: 80px; position: fixed;top: 0px; left: 0px; width: 100%; background: rgba(255,255,255,0.9); z-index: 999; border-radius: 0px 0px 20px 20px; overflow: hidden; padding: 0px 50px; backdrop-filter: blur(4px); box-shadow: 0px 4px 30px 0px rgba(50,25,0,0.1);
  &:before {content: ""; width: 20px; height: 80px; position: absolute; left: 0px; top: 0px; background: url('img/india-art.svg'); background-size: 20px 80px; background-repeat: no-repeat; border-radius: 0px 0px 0px 20px; overflow: hidden;}
  .logo-wrap {
    img {height: 38px; }
  }
  ul {background: none;}
  .menu a {color: #000000; @include font-title-medium; font-size: 20px; padding: 20px; transition: all 0.3s ease;
    &.active, &:hover {color: $orange; transition: all 0.3s ease;}
  }
}


// Home

.indiastack-is {height: 500px; background: url("img/home_bg.jpg"); background-size: cover; background-position: top center; position: relative; z-index: 1; padding-top: 80px;
  &:after {content: ""; position: absolute; width: 100%; height: 100%; left: 0px; bottom: 0px; background: url("img/wave_bg.svg"); background-size: 100%; background-repeat: no-repeat; background-position: bottom center; z-index: 3;}
  .wrap {display: flex; height: 500px; flex-direction: column; justify-content: center; position: relative; z-index: 3;}
  .title {text-align: center; font-size: 83px; line-height: 83px; margin: 0px; color: #ffffff; text-shadow: 0px 7px 14px rgba(194,117,0,.3);}
  .indiastack-is-slider {
    .slide {
      h3 {text-align: center; max-width: 600px; margin: 0 auto;}
    }
  }
  .video-container {height: 100%; width: 100%; position: absolute; left: 0px; top: 0px;
    &:after {content: ""; position: absolute; width: 100%; height: 100%; left: 0px; bottom: 0px; background: #FFDF34;opacity: 0.5;  z-index: 1;}
    &:before {content: ""; position: absolute; width: 100%; height: 100%; left: 0px; bottom: 0px; background: #E3A400; opacity: 0.8; z-index: 2;}
    video { width: 100%; height: 100%; position: absolute; object-fit: cover; z-index: 0;}
  }
}

.introduction {padding: 100px 0px;
  p.highlight {font-size: 20px; line-height: 31px;}

  h3 {line-height: 38px; margin-bottom: 30px;}
}

.video-wrap{position: relative; display: block; height: 220px; width: 100%; margin-bottom: 20px;
  img {width: 100%; border-radius: 7px; overflow: hidden; height: 220px; object-fit: cover; position: relative; z-index: 2;}
  &:before {content: ""; width: 50px; height: 50px; position: absolute; left: calc(50% - 25px); top: calc(50% - 25px); background: url('img/play.svg'); background-size: auto 50px; background-repeat: no-repeat; z-index: 3;transition: all 0.3s ease; transform: scale(1);}

  &:hover {
    &:before {transition: all 0.3s ease; transform: scale(1.2);}
  }
}

#video-modal {padding: 0px; border: 0px; border-radius: 0px; overflow: hidden; background: transparent;
  .close-button, .close-button.medium {font-size: 50px;}
}

.resources{
  .button {margin-right: 10px;}
}

.statistics {padding: 0px 0px 100px 0px;
  h4.sub {color: $orange; margin-bottom: 0px;}
  h2 {font-size: 83px; margin-bottom: 50px;}
  h3 {font-size: 45px; @include font-title; color: $orange;}
  p.description {margin: 0px; @include font-bold; font-size: 20px; line-height: normal; border-left: 4px solid #F0F0F0; padding: 0px 30px 0px 15px; height: 81px;}
}

#timeline {padding: 100px 0px 0px 0px; background-image: url('img/timeline_bg.jpg'); background-size: cover; background-position: center;
  .timeline-wrap {margin-left: -40px; margin-right: -40px;}
  .timestamp{padding: 0px 40px 40px 40px;
    h2 {color: #ffffff; font-size: 83px;}
    p {margin: 0px; color: #ffffff; @include font-bold; font-size: 20px; line-height: normal;}
  }
  .timeline-navigation {background: rgba(0,0,0,0.4); backdrop-filter: blur(7px);
    .nav-wrap {display:flex; justify-content: space-between; align-content: center;}
    p {margin: 0px; color: #ffffff; @include font-bold; font-size: 20px; line-height: normal;}
    .previous, .next {padding: 36px 0px; cursor: pointer;
      img {width: 22px; height: auto; position: relative; top: -1px;}
    }
    .previous img {margin-right: 20px}
    .next img {margin-left: 20px}
  }
}

#site-footer { width: 100%; background: #000000; padding: 100px 0px;
  h2 {color: #ffffff;}
  .footer-logo {margin-bottom: 0px; display: block;}
  p {color: #ffffff;}
}

.page-name {padding-top: 140px; padding-bottom: 60px; background: url("img/home_bg.jpg"); background-size: cover; background-position: top center; position: relative; z-index: 1;
    // &:after {content: ""; position: absolute; width: 100%; height: 100%; left: 0px; bottom: 0px; background: url("img/wave_bg.svg"); background-size: 100%; background-repeat: no-repeat; background-position: bottom center; z-index: -1;}
    .title {font-size: 83px; line-height: 83px; margin: 0px; }
    p {margin: 0px;}
}

.identity-introduction {padding: 100px 0px 70px 0px; position: relative;
  &:after { content: ""; position: absolute; left: 50%; top: 0; height: 100%; width: 50%; background: url('img/stock/family.jpg'); z-index: -1; background-size: cover; background-position: center;}
  img {border-radius: 7px;}
  ul {margin: 0px; margin-top: 30px;}
  li {@include font-bold; font-size: 20px; line-height: normal; border-left: 4px solid #F0F0F0; padding: 0px 30px 0px 15px; list-style: none; margin-bottom: 30px;}
}

.data-introduction {padding: 100px 0px 70px 0px; position: relative;
  &:after { content: ""; position: absolute; left: 50%; top: 0; height: 100%; width: 50%; background: url('img/stock/phone-laptop.jpeg'); z-index: -1; background-size: cover; background-position: center;}
  .cell {padding-right: 30px;}
}

.payments-introduction {padding: 100px 0px 70px 0px; position: relative;
  &:after { content: ""; position: absolute; left: 50%; top: 0; height: 100%; width:50%; background: url('img/stock/payment.jpg'); z-index: -1; background-size: cover; background-position: center;}
  .cell {padding-right: 30px;}
}

.payment-section-two {position: relative;
  &:after { content: ""; position: absolute; right: 50%; top: 0; height: 100%; width:50%; background: url('img/stock/artist.jpg'); z-index: 0; background-size: cover; background-position: right;}
  .cell {padding-left: 30px;}

}

.open-introduction {padding: 100px 0px 70px 0px; position: relative;
  &:after { content: ""; position: absolute; left: 50%; top: 0; height: 100%; width:50%; background: url('img/stock/family.jpg'); z-index: -1; background-size: cover; background-position: center;}
  .cell {padding-right: 30px;}
}

#aadhaar { background: #fff2e1; padding: 80px 0px 100px 0px;
  h2 {font-size: 64px; margin-bottom: 30px;
    img {width: 150px; position: relative; top: -10px; margin-right: 10px;}
  }

  .know-more {@include font-bold; margin-top: 10px; border-bottom: 1px solid #edc795; display: inline-block; transition: all 0.3s ease;
    &:hover {transition: all 0.3s ease; border-color: #363636;}
  }

  .button {background: transparent; margin-right: 10px; border-color: #ffdeba; margin-bottom: 0px;
    &:hover {background: $orange; border-color: $orange;}
  }
  .more-info {margin-top: 60px;}

}

.aadhaar-stats.statistics {margin-top: 60px; background: #ffffff; padding: 30px; border-radius: 10px; padding-bottom: 50px;
  h4 {margin-bottom: 30px;}
  p.description {height: auto; color: #8f6a3f;}
  h3 {color: #412c13;}
}

.box {border: 2px solid #ffe7c8; background: #ffe7c8; border-radius: 7px; padding: 30px; margin-top: 30px; transition: all 0.3s ease;
  &:hover {background: transparent; transition: all 0.3s ease;}
  h3 {font-size: 30px; @include font-title; color: $orange; line-height: 30px; margin-bottom: 10px;}
  .icon {text-align: center; margin-bottom: 20px;
    img {width: 100px;}
  }
  p {color: #2d1800; font-size: 16px; margin: 0px;}
}

.odd-section {background: #fff2e1; padding: 80px 0px 80px 0px;
  img {border-radius: 7px;}
}

.even-section {background: #ffffff; padding: 80px 0px 80px 0px;
  img {border-radius: 7px;}
}

#npci-stats {background: #ffe7c8; padding: 0px 0px 60px 0px;
  h2 { margin: 0px;}


}

#digilocker {padding: 80px 0px 80px 0px; position: relative;
  &:after { content: ""; position: absolute; left: calc(50% + 15px); top: 0; height: 100%; width: calc(50% - 15px); background: url('img/stock/digi.jpg'); z-index: -1; background-size: cover; background-position: center;}

  h2 {font-size: 64px; margin-bottom: 30px;
    img {width: 100px; position: relative; top: -15px; margin-right: 10px;}
  }

.button {margin-right: 10px; margin-bottom: 0px;}
}

#esign {padding: 80px 0px 80px 0px;  background: #fff2e1; position: relative;

  h2 {font-size: 64px; margin-bottom: 30px;}
  .center-wrap {height: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;
    img {width: 300px; opacity: 0.2;}
  }
}

.further-resources {border: 2px solid #ffe7c8; border-radius: 7px; padding: 30px; transition: all .3s ease;
  ul {margin-bottom: 0px;}
  a {color: #000000;
    &:hover {color: $orange;}
  }
}

.depa-core {
  strong {font-size: 18px; margin-bottom: 20px; display: block;}
  .box {height: 100%; background: #ffe7c8; margin-top: 0px;
  }
  .gap {height: 30px;}
}

.faq-wrap {padding: 50px 0px;}

.accordion-title {@include font-bold; font-size: 18px; color: #000000; border-color:#ffe7c8;
  &:focus, &:hover {color: $orange; background-color: #fff2e1;}
}
.accordion-content {border-color:#ffe7c8;}

figure {padding-right: 40px; margin-bottom: 40px;
  &.right {padding-right: 0px; padding-left: 40px;}
}

.follow_on_twitter {background: #1DA1F2; border-color: #1DA1F2; color: #ffffff;
  img {width: 20px; position: relative; top: -1px; margin-right: 5px;}
}

.footer-menu {
  a {color: #a7a8ab; margin-top: 16px;
    img {width: 20px; position: relative; top: -1px; margin-right: 5px;}
    &:hover {color: #ffffff;}
  }
}

.data-as-of {text-align: right;
  a {display: inline-block;    padding-top: 68px;}
}
