//Hamburger

.mobile-menu {display: none;}

$bar-width: 36px;
$bar-height: 3px;
$bar-spacing: 8px;

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
  height: $bar-height;
}

.hamburger-menu {
  position: relative;
  transform: translateY($bar-spacing);
  background: rgba(76, 76, 76, 1);
  transition: all 0ms 300ms;
  border-radius: 2px;

  &.animate {
    background: rgba(76, 76, 76, 0);
  }
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: rgba(76, 76, 76, 1);

  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: rgba(76, 76, 76, 1);

  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}


// Mobile only

@media screen and (max-width: 39.9375em) {

  .grid-padding-x > .cell {padding-right: 20px; padding-left: 20px;}
  .top-bar .main-menu {display: none;}

  .top-bar {height: 60px;}

  .mobile-menu {display: block; position: fixed; top: 21px; right: 15px;}

  .indiastack-is .title {font-size: 58px;}

  .indiastack-is-slider {padding: 0px 20px;}
  .indiastack-is .indiastack-is-slider .slide h3 {font-size: 30px; line-height: normal;}

  .introduction {padding: 50px 0px;}

  .introduction p.highlight {font-size: 18px; line-height: 30px;}
  .introduction h3 {font-size: 30px; line-height: normal;}
  .resources .button {padding: 10px 10px;}

  .statistics {padding-bottom: 50px;}
  .statistics h2 {font-size: 54px; margin-bottom: 20px;}
  .statistics h3 {font-size: 36px;}
  .statistics p.description {font-size: 18px; height: auto; margin-bottom: 20px;}

  #timeline {padding: 50px 0px 0px 0px;}
  #timeline .timestamp {padding: 0px 20px 20px 20px;}
  #timeline .timestamp h2 {font-size: 58px;}
  #timeline .timestamp p {font-size: 18px;}
  #timeline .cell {padding: 0px;}
  #timeline .timeline-wrap {margin: 0px;}
  #timeline .timeline-navigation .previous, #timeline .timeline-navigation .next {padding: 15px 0px;}
  #timeline .timeline-navigation p {font-size: 14px;}
  #timeline .timeline-navigation .previous img {margin-right: 10px; width: 10px;}
  #timeline .timeline-navigation .next img {margin-left: 10px; width: 10px;}

  #site-footer {padding: 50px 0px;}
  #site-footer .footer-menu {display: block;}
  .footer-menu a {display: block; width: 100%; padding-left: 0px; margin-top: 0px;}
  #site-footer .footer-logo {margin-bottom: 50px;}

  .top-bar {overflow: visible; padding: 0px 0px;}
  .top-bar:before {display: none;}
  .top-bar .top-bar-left, .top-bar .top-bar-right {height: 100%;}
  .top-bar .logo-wrap {height: 100%; display: flex; align-content: center; align-items: center; padding-left: 20px;}
  .top-bar .logo-wrap img {height: 32px; position: relative; top: -5px;}
  .top-bar.menu-open {border-radius: 0px; background: rgba(255,255,255,0.96);}
  .top-bar.menu-open .main-menu {display: block; width: 100%; background: rgba(255,255,255,0.96); z-index: 999; backdrop-filter: blur(4px); box-shadow: 0px 4px 30px 0px rgba(50,25,0,0.1); padding: 20px 0px; border-radius: 0px 0px 20px 20px;}
  .top-bar .menu a {border-bottom: 2px solid #f3f3f3;}
  .top-bar .menu li:last-child a {border: none;}

// Identity page
  .identity-introduction {padding: 50px 0px 320px 0px;}
  .identity-introduction:after { left: 0; top: auto; bottom: 0px; height: 300px; width: 100%;}
  #aadhaar h2 {font-size: 42px; margin-bottom: 20px;
    img {display: block; width: 100px;}
  }
  .page-name {padding-top: 100px; padding-bottom: 40px;}
  .page-name .title {font-size: 50px; line-height: normal;}
  .box {padding: 20px; margin-top: 20px;}

  #aadhaar {padding: 50px 0px 50px 0px;}
  #aadhaar .button {width: 100%; margin-right: 0px; margin-bottom: 10px;}
  .aadhaar-stats.statistics {padding: 20px; margin-top: 40px;}
  .aadhaar-stats.statistics h4 {font-size: 28px; line-height: normal;}
  .aadhaar-stats.statistics p.description {margin-bottom: 40px;}

  #digilocker {padding: 50px 0px 340px 0px; }
  #digilocker:after {left: auto; top: auto; bottom: 0px; height: 300px; width: 100%;}

  #digilocker h2 {font-size: 42px; margin-bottom: 20px;
    img {display: block; width: 65px;}
  }
  #digilocker .button {width: 100%; margin-right: 0px; margin-bottom: 10px;}

  #esign {padding: 50px 0px;}
  #esign .center-wrap {display: none;}
  .payments-introduction {padding: 50px 0px 320px 0px;}
  .payments-introduction:after { left: 0; top: auto; bottom: 0px; height: 300px; width: 100%;}
  .odd-section, .even-section {padding: 50px 0px;}

  .payment-section-two {padding: 50px 0px 320px 0px;}
  .payment-section-two:after {right: auto; top: auto; bottom: 0px; height: 300px; width: 100%;}
  .data-as-of a {padding-top: 0px; opacity: 0.5;}

  .data-introduction {padding: 50px 0px 320px 0px;}
  .data-introduction:after { left: 0; top: auto; bottom: 0px; height: 300px; width: 100%;}

  h3 {font-size: 32px; line-height: normal;}
  .depa-core {padding: 50px 0px 30px 0px;}
  .depa-core h3 {margin-bottom: 30px;}
  .depa-core .box-wrap {margin-bottom: 20px;}
  .depa-core .box-wrap .icon {width: 40px;}
  figure {padding-right: 0px; padding-bottom: 0px; margin-bottom: 20px;}

  .open-introduction {padding: 50px 0px 320px 0px;}
  .open-introduction:after { left: 0; top: auto; bottom: 0px; height: 300px; width: 100%;}

  .open-two {padding: 50px 0px 320px 0px;}
  .open-two:after {right: auto; top: auto; bottom: 0px; height: 300px; width: 100%;}


}
